@import "_typography.css";
@import "_spacing.css";
@import "_colors.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: var(--text-base-size);
    font-family: var(--text-primary-font), sans-serif;
}

.container-column {
    background-color: var(--light-gray);
    margin: auto;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logo {
    width: 100%;
    text-align: center;
    font-size: var(--text-xxxl);
    font-family: var(--text-decorative-font);
    background-color: var(--main-green);
    color: var(--white);
    font-weight: lighter;
}

.button-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.button {
    text-decoration: none;
    color: var(--white);
    background-color: var(--main-green);
    width: 100%;
    padding: 1rem 0;
    font-size: var(--text-md);
    transition: 0.2s;
    border: 0;
}

.button:hover {
    background-color: var(--claret);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form > .button {
    width: 8rem;
    margin-bottom: var(--space-unit);
}

.form-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--space-unit);
    width: 80%;
}

.form-data > label {
    color: var(--dark-green);
    width: 100%;
    text-align: left;
}

.form-text {
    width: 100%;
    height: var(--text-xl);
    border: 1px solid var(--dark-green);
    padding: 0 var(--space-sm);
    font-family: var(--text-primary-font), sans-serif;
    font-size: var(--text-sm);
}

.form-text:focus {
    border: 2px solid var(--main-green);
    outline: none;
}

#landing-sentence {
    font-size: var(--text-xxl);
    color: var(--dark-green);
    font-weight: lighter;
    margin: var(--space-xl) var(--space-unit);
}

#back-button {
    align-self: flex-start;
    color: var(--main-green);
    margin: var(--space-xs) var(--space-unit);
}

#remember-me-flexbox {
    margin-top: var(--space-unit);
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#remember-me-flexbox > input {
    transform: scale(1);
    margin-right: var(--space-xxs);
}

#password-message {
    width: 100%;
    text-align: left;
}

@media all and (min-width: 568px) {
    :root {
        --text-base-size: 1.4rem;
        --space-unit: 1.4rem;
    }

    .container-column {
        margin: 10rem auto;
    }

    .form > .button {
        width: 100%;
        margin-bottom: 0;
    }

    .button-box {
        flex-direction: row;
    }

    #remember-me-flexbox > input {
        transform: scale(1.5);
        margin-right: var(--space-sm);
    }
}