@import "../_typography.css";
@import "../_spacing.css";
@import "../_colors.css";
@import "../style.css";

.config-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--dark-green);
    width: 100%
}